<div id="help-popup" class="panel panel-default mfp-hide">
  <div class="panel-heading">
    <h4>About This Photo Booth</h4>
  </div>
  <div class="panel-body">
    <ul>
      <li class="h5">Click the <span class="glyphicon glyphicon-camera"></span> button at the bottom of the screen when you're ready to take a picture</li>
      <li class="h5">This will show you a live preview of the camera for 8 seconds before the photo is taken</li>
      <li class="h5">View a gallery of previous photos by clicking the <span class="glyphicon glyphicon-th"></span> button at the top right of the screen</li>
    </ul>
    <a class="btn btn" id="nuke-from-orbit">Restart</a>
  </div>
</div>
