<div id="help-popup" class="panel panel-default mfp-hide">
  <div class="panel-heading">About This Photo Booth</div>
  <div class="panel-body">
    <ul>
      <li>Click button at the bottom of the screen when you're ready to take a picture</li>
      <li>This will show you a live preview of the camera for 5 seconds before the photo is taken</li>
      <li>TODO: Eventually I'll probably add a way for users to view pictures which have already been taken</li>
    </ul>
  </div>
</div>
