extends layout

block content
  
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          if brandImage
            img(class="nav-brand-img" src="/images/"+brandImage)
            .
              #{navText}
        </a>
      </div>
      <a href="#help-popup" class="btn btn-lg btn-default navbar-btn navbar-right help-popup-trigger">
        <span class="glyphicon glyphicon-question-sign"></span>
      </a>
      <a href="#" class="btn btn-lg btn-default navbar-btn navbar-right photo-gallery-popup-trigger">
        <span class="glyphicon glyphicon-th"></span>
      </a>
    </div>
  </nav>

  if backgroundImage
    div(class="camera-stream-contain default" style="background-image: url(/images/"+backgroundImage+")" data-defaultbg="/images/"+backgroundImage)
  else
    div(class="camera-stream-contain default" style="background-image: url(/images/Transparent.gif)" data-defaultbg="/images/Transparent.gif")

  div(class="container-fluid")

    include progress.pug

  div(class="container-fluid")

    <button type="button" class="btn btn-success btn-lg take-photo-button">
      <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
    </button>

    include help.pug
    include error.pug
