doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    //link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-paper.min.css')
    link(rel='stylesheet', href='/css/magnific-popup.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    div(id="app-contain")
      block content

    script(type='text/javascript', src='/js/jquery-3.2.1.min.js')
    script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/jquery.magnific-popup.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/app.js')
