/* TODO: Custom styles here */
html, body, #app-contain{
  height: 100%;
}

#app-contain{
  display: flex;
  flex-direction: column;
}

#app-contain .navbar{
  margin-bottom: 0px;
}

.navbar-brand{
  line-height: 1.75;
}

.navbar-brand > img{
  height: 50px;
  display: inline-block;
  margin-right: 10px;
}

.help-popup-trigger, .photo-gallery-popup-trigger{
  font-size: 25px;
}

.navbar-right.photo-gallery-popup-trigger{
  margin-right: 20px;
}

.help-popup-trigger{
  margin-right: 0;
}

.camera-stream-contain{
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;
}

.camera-stream{
  /*width: 100%;
  margin-top: -20px;
  flex-grow: 1;
  background-image: url("");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;*/
  margin-top: -20px;
  flex-grow: 1;
  display: block;
  width: 100%;
}

.take-photo-button{
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-radius: 65px;
  height: 125px;
  width: 125px;
  font-size: 50px;
  line-height: 2.33;
}

.stream-controls{
  position: absolute;
  bottom: 10px;
}

.countdown{
  display: none;
  position: absolute;
  z-index: 100;
  width: calc(100% - 30px);
  left: 15px;
  top: 40%;
}

.countdown .seconds-remaining{
  text-align: center;
  font-size: 50px;
}

.countdown .progress .progress-bar{
  transition: none;
}
